.main-header {
    width: 100%;
    height: 3.5rem;
    box-shadow: 0 19px 38px rgba(0, 4, 56, 0.3), 0 15px 12px rgba(56, 56, 56, 0.22);
}

.email {
    color: gray !important;
}

.padding {
    padding-right: 1rem;
    font-size: 1.85rem !important;
    cursor: pointer;
}


/* ////////////////////////////////////////////////////BREAKPOINTS//////////////////////////////////////////////////// */


/* VISTA MOVIL VERTICAL*/

@media screen and (min-width: 0px) and (max-width: 599px) {
    .d-sm-none {
        display: none !important;
    }
    .btn {
        margin-left: 4rem;
        width: 90%;
    }
    .main-header {
        width: 100%;
        height: 4rem;
    }
}


/* FIN VISTA MOVIL VERTICAL*/


/* VISTA MOVIL HORIZONTAL*/

@media screen and (min-width: 600px) and (max-width: 760px) {}


/* FIN VISTA MOVIL HORIZONTAL*/


/* VISTA IPAD/TABLET VERTICAL*/

@media screen and (min-width: 761px) and (max-width: 999px) {}


/* FIN VISTA IPAD/TABLET VERTICAL*/


/* VISTA IPAD/TABLETS HORIZONTAL */

@media screen and (min-width: 1000px) and (max-width: 1250px) {}


/* FIN VISTA IPAD/TABLETS HORIZONTAL */