<div class="container-fluid main-header bg-white">
    <div class="row h-100 align-items-center">
        <div class="col-5 col-md-9 col-lg-10">
            <p class="email text m-0">
                <span (click)="this.ui.sideNav = !ui.sideNav" class="padding material-icons">
                    toc
                </span> Bienvenido: carlos@hotmail.com
            </p>
        </div>
        <div class="col-5 col-md-3 col-lg-2">
            <button type="button" class="btn bg-primary text-white btn-rounded">Cerrar sesión</button>
        </div>
    </div>

</div>